{% extends 'base.html'%}
{% load static %}
{% block content %}

    <div class="search-flight">
        <form>
            <h1> Go Anywhere, Anytime </h1>
            <div class="form-box">
                <input type="text" class="search-field departure" placeholder="Departure">
                <input type="text" class="search-field return" placeholder="Return">
                <input type="text" class="search-field depart_time" placeholder="Date: mm/dd/yyyy">
                <input type="text" class="search-field return_time" placeholder="Date: mm/dd/yyyy">
                <button class="search-btn" type="button">Search</button>
            </div>
        </form>
    </div>

{% endblock %}

