<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title> JustInTime</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/contact.css"> 
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Solway|Tomorrow&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
    </head>

    <body>

        <nav class="back-navbar">
            <ul>
                <li><a href="{% url 'index' %}">Back to Home</a></li>
            </ul>
        </nav>
        
        <header class="tm-header">
            <img class="tm-logo" src= "{% static 'images/logo.png' %}" alt="JustInTime">
        </header>

        <div class="help-page">
            <form>
                <h1> We Are Here To Help </h1>
                <div class="form-box">
                    <h2>United States: </h2>
                    <h3>TEL: (303)465-5892</h3>
                    <h2>Outside United States: </h2>
                    <h3>TEL: 1-(800)388-6388</h3>

                    <h2>Or Email Us At: </h2>
                    <h3>customerservice@JustInTime.com</h3>
                </div>
            </form>
        </div>
    </body>
</html>