{% extends "base.html" %}
{% block title %}my information{% endblock %} 
{% block content %}
        <h1>Edit My Information</h1>
<div class="row text-center vertical-middle-sm">

    <div class="row">
        <div class="col-md" >
            <form class="form-horizontal" action="." method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-md-4 text-right"><p>Username</p></div>
                    <div class="col-md-8 text-left">{{user.username}}</div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-right"><span>Email</span></div>
                    <div class="col-md-8 text-left">{{userprofile_form.email}}</div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-right"><span>Birthday</span></div>
                    <div class="col-md-8 text-left">{{userprofile_form.birth}}</div>
                </div>

                <div class="row">
                    <div class="col-md-4 text-right"><span>Phone:</span></div>
                    <div class="col-md-8 text-left">{{userprofile_form.phone}}</div>
                </div>


                <div class="row">
                    <div class="col-md-4 text-right"><span>address</span></div>
                    <div class="col-md-8 text-left">{{userprofile_form.address}}</div>
                </div>

        
                <div class="row">
                    <input type="submit" class="btn btn-primary btn-lg" value="Submit">   
                </div>
            </form>
        </div>

    </div>    
</div>
{% endblock %}