{% extends "base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

    <div class="imagelogin">
        {% if registered %}
            <h1>Thank you for registering!</h1>
        {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>
        <form method="POST">
          {% csrf_token %}
          {{ user_form.as_p }}
          <input type="submit" name="" value="Register" class="reg_btn">
        </form>
        
      {% endif %}
    </div>
  
{% endblock %}