{% extends 'users/base.html'%}
{% load static %}
{% static "images" as baseUrl %}
{% block content %}
    <div class="search-hotel">

        <form action="result" method="GET">
              <h1> Hotel </h1>
            {% csrf_token %}
            
            <div class="form-box">
                <input type="text" class="search-field stay" name="where_to_stay" placeholder="where to stay">
                <input type="text" class="search-field checkout" name="hotel_name", placeholder="hotel name">
                <!-- <input type="text" class="search-field checkin_time" placeholder="Check in Date: mm/dd/yyyy">
                <input type="text" class="search-field checkout_time" placeholder="Check out Date: mm/dd/yyyy"> -->
                <button class="search-btn" type="submit">Search</button>
            </div>
        </form>
    </div>

  <!--   <table class="table">
        <tbody>
            {% for h in list_hotel %}
              <tr>
                <td> <img src="{{baseUrl}}/{{h.image}}"> </td>
                <td>{{h.city}}</td>
                <td>{{h.name}}</td>
                <td>{{h.price}}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>  -->
    

{% endblock %}
<!-- <form action="add" method="POST">
        
        Enter 1st number : <input type="text" name="num1"><br>

        Enter 2nd number : <input type="text" name="num2"><br>

        <button type="submit">Sign up</button>

    </form> -->