{% extends "users/base.html" %}
{% load static %}
{% block content %}

    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
   
    {% endif %}
 
<h2><center> Where do you want to visit?</center></h2>
     
     <section class="slider room flex">

      
                    <div class="tm-place">
                        <img  src= "{% static 'images/rocky.jpeg' %}">
                       <a href="flight.html"> <p class="s">Rocky Mountain</p> </a>

                    </div>
                        <div class="tm-place">
                        <img  src= "{% static 'images/zion.jpeg' %}">
                            <a href="flight.html"> <p class="s">Zion National Park</p></a>

                    </div>
                        <div class="tm-place">
                        <img  src= "{% static 'images/gc.jpeg' %}">
                            <a href="flight.html">  <p>Grand Canyon</p></a>

                    </div>
                    </div>
                        <div class="tm-place">
                        <img  src= "{% static 'images/yellow.jpg' %}">
                        <a href="flight.html">  <p>Yellowstone</p></a>

                    </div>
                
    </section>

    <center><h2> Where do you want to stay?</h2></center>
     
     <section class="slider room flex">

      
                    <div class="tm-place">
                        <img  src= "{% static 'images/classic.jpg' %}">
                       <a href="hotel.html"> <p class="s">Classic Hotel</p> </a>

                    </div>
                        <div class="tm-place">
                       <!--  <img  src="images/davison.jpg"> -->
                       <img  src= "{% static 'images/davison.jpg' %}">
                            <a href="hotel.html"> <p class="s">Davision Hotel</p></a>

                    </div>
                        <div class="tm-place">
                        <img  src= "{% static 'images/hardrock.jpg' %}">
                            <a href="hotel.html">  <p>HardRock Hotel</p></a>

                    </div>
                    </div>
                        <div class="tm-place">
                        <img  src= "{% static 'images/hilton.jpg' %}">
                        <a href="hotel.html">  <p>Hilton Hotel</p></a>

                    </div>
               
    </section>

{% endblock %}