{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="search-flight">
         <form action="{% url 'flight:search' %}" method="POST">
              <h1> Flight </h1>
            {% csrf_token %}
            
            <div class="form-box">
                <input id="from_city" type="text" class="search-field stay" name="from_city" placeholder="Depart" >
                <input id="to_city" type="text" class="search-field checkout" name="to_city" placeholder="Arrival" >
                {% comment %}<input type="text" class="search-field stay" name="Depart" placeholder="Deaprt">
                <input type="text" class="search-field checkout" name="Arrival", placeholder="Arrival">{% endcomment %}
                <button class="search-btn" type="submit">Search</button>
            </div>
        </form>
    </div>

  <table class="table">
        <tbody>
            {% for f in db_flight %}
              <tr>
                <td>{{f.from_city}}</td>
                <td>{{f.to_city}}</td>
                <td>{{f.flightName}}</td>
                 <td>{{f.seat}}</td>
                <td><a href="/flight/booking/{{ f.from_city }}/{{ f.to_city }}">Enter</a></td>

              </tr>
            {% endfor %}
        </tbody>
  </table>

{% endblock %}



